workflows/auto-update-workflow-documentation-github/auto-update-workflow-documentation-github.json
[
  {
    "updatedAt": "2026-06-02T21:30:44.197Z",
    "createdAt": "2026-06-02T21:08:29.275Z",
    "id": "8PWkePRnJqTfq3m3",
    "name": "auto-update-workflow-documentation-github",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1840,
          24
        ],
        "id": "07b6b413-d477-4834-a3bb-5631f5e93f62",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1616,
          24
        ],
        "id": "a471c61d-4290-4010-bc2a-b17777a08a89",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "CWPNJuJvvhzaDwLl",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Du bist ein technischer Dokumentations-Experte. Erstelle eine README.md für einen n8n Workflow.\n\nHier sind die vollständigen Workflow-Daten als JSON:\n\n<workflow_data>\n{{JSON.stringify($json)}}\n</workflow_data>\n\nAnalysiere das gesamte JSON-Objekt vollständig bevor du schreibst – insbesondere:\n- `nodes` Array mit allen Nodes, deren `type`, `name` und `notes`\n- `connections` Objekt um die tatsächliche Ausführungsreihenfolge zu verstehen\n- `shared` Array für Projektinformationen\n- Alle Metadaten-Felder (`id`, `name`, `createdAt`, `updatedAt`, `active`)\n\nErstelle die README.md mit exakt dieser Struktur:\n\n# [workflow name]\n\n[Kurze Beschreibung in einem Satz. Falls description leer oder null ist, leite sie aus der Gesamtlogik der Nodes ab.]\n\n## Overview\n\n- **Workflow ID:** `[id]`\n- **Status:** [Active / Inactive (Draft)]\n- **Created:** [createdAt als DD.MM.YYYY]\n- **Last Modified:** [updatedAt als DD.MM.YYYY]\n- **Project:** [shared[0].project.name]\n- **URL:** [https://private-ops.app.n8n.cloud/workflow/[id]]\n\n## Trigger\n\n[1-2 Sätze was den Workflow startet – aus dem connections-Objekt und dem ersten Node ableiten.]\n\n## Workflow Steps\n\n[Nodes in korrekter Ausführungsreihenfolge aus dem connections-Objekt – nicht aus der Reihenfolge im nodes-Array.]\n\n**1. [node.name]**\n- **Type:** `[node.type]`\n- **Function:** [Ein Satz was dieser Node tut]\n- **Notes:** [node.notes – nur ausgeben wenn vorhanden und nicht leer]\n\n## Connected Systems\n\n[Bullet-Liste aller externen Systeme direkt aus node.type abgeleitet:]\n- `n8n-nodes-base.github` zu **GitHub**\n- `n8n-nodes-langchain.lmChatAnthropic` zu **Anthropic Claude**\n- `n8n-nodes-langchain.lmChatMistralCloud` zu **Mistral AI**\n- `n8n-nodes-base.microsoftOneDrive` zu **Microsoft OneDrive**\n- alle anderen Services analog ableiten\n\n## Metadata\n\n*Auto-generated by n8n workflow documentation system. Last updated: [updatedAt als DD.MM.YYYY]*\n\n---\n\nRegeln:\n- Verwende ausschließlich diese Markdown-Elemente: Überschriften (#, ##, ###), Fettschrift (**text**), Aufzählungen (-), Code (`backticks`), Fließtext\n- Keine Tabellen\n- Kein Mermaid\n- Keine HTML-Tags\n- Ausschließlich auf Englisch schreiben\n- Ton: technisch, präzise, professionell\n- Gib ausschließlich den Markdown-Text aus – keine Einleitung, keine Erklärung, keine Backticks um den gesamten Output\n- Fehlende optionale Felder (description, notes) komplett weglassen – nicht als \"N/A\" oder \"—\" ausgeben\n- Das connections-Objekt ist die einzige verlässliche Quelle für die Ausführungsreihenfolge\n- Notes pro Node nur ausgeben wenn node.notes vorhanden und nicht leer ist\n- Alle Datumsfelder als DD.MM.YYYY ausgeben – nicht als ISO-String\n- Alle Felder mit echten Daten füllen – keine Platzhalter im Output",
          "needsFallback": true,
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -720,
          -72
        ],
        "id": "e58e8561-1504-4141-a3cc-69286f2e220e",
        "name": "Write README"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "=data",
          "options": {
            "format": true
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -656,
          -368
        ],
        "id": "f27524e7-9464-4a94-8f4e-fb0622e5202d",
        "name": "Convert to JSON"
      },
      {
        "parameters": {
          "jsCode": "const workflow = $input.first().json;\n\n// Credentials aus allen Nodes entfernen\nconst cleanedNodes = workflow.nodes.map(node => {\n  const { credentials, ...cleanNode } = node;\n  return cleanNode;\n});\n\nreturn [{\n  json: {\n    ...workflow,\n    nodes: cleanedNodes\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -944,
          -72
        ],
        "id": "78a5108e-85ae-451a-8e6c-6b3a02e21358",
        "name": "Remove credentials"
      },
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          -712,
          152
        ],
        "id": "ef9b1938-72f4-40b6-9b95-dfb43bb69392",
        "name": "mistral-medium-latest",
        "credentials": {
          "mistralCloudApi": {
            "id": "w613RN8tRYhy269h",
            "name": "Mistral API"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.5,
        "position": [
          -584,
          152
        ],
        "id": "2700e573-b41c-495b-9f2e-bfd43ecf4c88",
        "name": "Claude Sonnet 4.6",
        "credentials": {
          "anthropicApi": {
            "id": "0jqTAeHMP0aAlV8t",
            "name": "Claude n8n-api"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "SPKonig",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "private-ops-n8n",
            "mode": "list",
            "cachedResultName": "private-ops-n8n",
            "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
          },
          "filePath": "=workflows/{{ $('Get many workflows').item.json.name }}/{{ $('Get many workflows').item.json.name }}.json",
          "binaryData": true,
          "commitMessage": "=Create JSON backup of {{ $('Get many workflows').item.json.name }} (n8n)"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -368,
          -368
        ],
        "id": "8a634297-ad0f-41c5-ba5a-b28f15ce2651",
        "name": "Create JSON backup",
        "webhookId": "44f9c3c4-94fc-4077-ac23-18ae401eac15",
        "credentials": {
          "githubOAuth2Api": {
            "id": "F8Ct9QVVOm3TLMQF",
            "name": "GitHub OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "SPKonig",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "private-ops-n8n",
            "mode": "list",
            "cachedResultName": "private-ops-n8n",
            "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
          },
          "filePath": "=workflows/{{ $('Get many workflows').item.json.name }}/README.md",
          "fileContent": "={{ $json.text }}",
          "commitMessage": "=Create README.md for {{ $('Get many workflows').item.json.name }} (n8n)"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -368,
          -72
        ],
        "id": "2bb03383-3bb2-43e4-83ab-ee713b61ae6c",
        "name": "Create README.md",
        "webhookId": "64aa448e-b237-4e84-ac20-56094d346a21",
        "credentials": {
          "githubOAuth2Api": {
            "id": "F8Ct9QVVOm3TLMQF",
            "name": "GitHub OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b36a77d0-c88c-4b94-9ace-fd82e6e99173",
                "leftValue": "={{ $json.updatedAt }}",
                "rightValue": "={{ $today.toISO()}}",
                "operator": {
                  "type": "dateTime",
                  "operation": "after"
                }
              },
              {
                "id": "a0115a0f-e5b0-4f62-8fa2-cc1fd3d9618c",
                "leftValue": "={{ $json.active }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              },
              {
                "id": "b311aaa9-ee50-4b07-a19d-4c533a6fbc89",
                "leftValue": "={{ $json.createdAt }}",
                "rightValue": "={{ $today.toISO()}}",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1392,
          24
        ],
        "id": "df98860c-8575-4b8e-957c-c46d35925525",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1168,
          120
        ],
        "id": "c31f9c8d-eba1-4e81-97cd-a09aa36da36c",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1168,
          -72
        ],
        "id": "14ca606a-dacc-40f4-ade9-0e0f9ad0ee2a",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -144,
          -168
        ],
        "id": "3d251664-dfac-4ace-89a4-1a21cffb29b7",
        "name": "Merge"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write README": {
        "main": [
          [
            {
              "node": "Create README.md",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to JSON": {
        "main": [
          [
            {
              "node": "Create JSON backup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove credentials": {
        "main": [
          [
            {
              "node": "Write README",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mistral-medium-latest": {
        "ai_languageModel": [
          [
            {
              "node": "Write README",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Claude Sonnet 4.6": {
        "ai_languageModel": [
          [
            {
              "node": "Write README",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Remove credentials",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert to JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create JSON backup": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README.md": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "errorWorkflow": "hmJldT9kg1FuUJhz",
      "callerPolicy": "workflowsFromSameOwner",
      "executionTimeout": 2,
      "timeSavedPerExecution": 5
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "a1ec3337-1029-4aaa-865f-b4d5261ea843",
    "activeVersionId": "a1ec3337-1029-4aaa-865f-b4d5261ea843",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-06-02T21:08:29.276Z",
        "createdAt": "2026-06-02T21:08:29.276Z",
        "role": "workflow:owner",
        "workflowId": "8PWkePRnJqTfq3m3",
        "projectId": "vIaIDcGye5gviyqQ"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-06-02T21:33:02.000Z",
      "createdAt": "2026-06-02T21:30:44.198Z",
      "versionId": "a1ec3337-1029-4aaa-865f-b4d5261ea843",
      "workflowId": "8PWkePRnJqTfq3m3",
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {}
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -1840,
            24
          ],
          "id": "07b6b413-d477-4834-a3bb-5631f5e93f62",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "filters": {},
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.n8n",
          "typeVersion": 1,
          "position": [
            -1616,
            24
          ],
          "id": "a471c61d-4290-4010-bc2a-b17777a08a89",
          "name": "Get many workflows",
          "credentials": {
            "n8nApi": {
              "id": "CWPNJuJvvhzaDwLl",
              "name": "n8n account"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Du bist ein technischer Dokumentations-Experte. Erstelle eine README.md für einen n8n Workflow.\n\nHier sind die vollständigen Workflow-Daten als JSON:\n\n<workflow_data>\n{{JSON.stringify($json)}}\n</workflow_data>\n\nAnalysiere das gesamte JSON-Objekt vollständig bevor du schreibst – insbesondere:\n- `nodes` Array mit allen Nodes, deren `type`, `name` und `notes`\n- `connections` Objekt um die tatsächliche Ausführungsreihenfolge zu verstehen\n- `shared` Array für Projektinformationen\n- Alle Metadaten-Felder (`id`, `name`, `createdAt`, `updatedAt`, `active`)\n\nErstelle die README.md mit exakt dieser Struktur:\n\n# [workflow name]\n\n[Kurze Beschreibung in einem Satz. Falls description leer oder null ist, leite sie aus der Gesamtlogik der Nodes ab.]\n\n## Overview\n\n- **Workflow ID:** `[id]`\n- **Status:** [Active / Inactive (Draft)]\n- **Created:** [createdAt als DD.MM.YYYY]\n- **Last Modified:** [updatedAt als DD.MM.YYYY]\n- **Project:** [shared[0].project.name]\n- **URL:** [https://private-ops.app.n8n.cloud/workflow/[id]]\n\n## Trigger\n\n[1-2 Sätze was den Workflow startet – aus dem connections-Objekt und dem ersten Node ableiten.]\n\n## Workflow Steps\n\n[Nodes in korrekter Ausführungsreihenfolge aus dem connections-Objekt – nicht aus der Reihenfolge im nodes-Array.]\n\n**1. [node.name]**\n- **Type:** `[node.type]`\n- **Function:** [Ein Satz was dieser Node tut]\n- **Notes:** [node.notes – nur ausgeben wenn vorhanden und nicht leer]\n\n## Connected Systems\n\n[Bullet-Liste aller externen Systeme direkt aus node.type abgeleitet:]\n- `n8n-nodes-base.github` zu **GitHub**\n- `n8n-nodes-langchain.lmChatAnthropic` zu **Anthropic Claude**\n- `n8n-nodes-langchain.lmChatMistralCloud` zu **Mistral AI**\n- `n8n-nodes-base.microsoftOneDrive` zu **Microsoft OneDrive**\n- alle anderen Services analog ableiten\n\n## Metadata\n\n*Auto-generated by n8n workflow documentation system. Last updated: [updatedAt als DD.MM.YYYY]*\n\n---\n\nRegeln:\n- Verwende ausschließlich diese Markdown-Elemente: Überschriften (#, ##, ###), Fettschrift (**text**), Aufzählungen (-), Code (`backticks`), Fließtext\n- Keine Tabellen\n- Kein Mermaid\n- Keine HTML-Tags\n- Ausschließlich auf Englisch schreiben\n- Ton: technisch, präzise, professionell\n- Gib ausschließlich den Markdown-Text aus – keine Einleitung, keine Erklärung, keine Backticks um den gesamten Output\n- Fehlende optionale Felder (description, notes) komplett weglassen – nicht als \"N/A\" oder \"—\" ausgeben\n- Das connections-Objekt ist die einzige verlässliche Quelle für die Ausführungsreihenfolge\n- Notes pro Node nur ausgeben wenn node.notes vorhanden und nicht leer ist\n- Alle Datumsfelder als DD.MM.YYYY ausgeben – nicht als ISO-String\n- Alle Felder mit echten Daten füllen – keine Platzhalter im Output",
            "needsFallback": true,
            "batching": {}
          },
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            -720,
            -72
          ],
          "id": "e58e8561-1504-4141-a3cc-69286f2e220e",
          "name": "Write README"
        },
        {
          "parameters": {
            "operation": "toJson",
            "binaryPropertyName": "=data",
            "options": {
              "format": true
            }
          },
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            -656,
            -368
          ],
          "id": "f27524e7-9464-4a94-8f4e-fb0622e5202d",
          "name": "Convert to JSON"
        },
        {
          "parameters": {
            "jsCode": "const workflow = $input.first().json;\n\n// Credentials aus allen Nodes entfernen\nconst cleanedNodes = workflow.nodes.map(node => {\n  const { credentials, ...cleanNode } = node;\n  return cleanNode;\n});\n\nreturn [{\n  json: {\n    ...workflow,\n    nodes: cleanedNodes\n  }\n}];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -944,
            -72
          ],
          "id": "78a5108e-85ae-451a-8e6c-6b3a02e21358",
          "name": "Remove credentials"
        },
        {
          "parameters": {
            "model": "mistral-medium-latest",
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
          "typeVersion": 1,
          "position": [
            -712,
            152
          ],
          "id": "ef9b1938-72f4-40b6-9b95-dfb43bb69392",
          "name": "mistral-medium-latest",
          "credentials": {
            "mistralCloudApi": {
              "id": "w613RN8tRYhy269h",
              "name": "Mistral API"
            }
          }
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "value": "claude-sonnet-4-6",
              "mode": "list",
              "cachedResultName": "Claude Sonnet 4.6"
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
          "typeVersion": 1.5,
          "position": [
            -584,
            152
          ],
          "id": "2700e573-b41c-495b-9f2e-bfd43ecf4c88",
          "name": "Claude Sonnet 4.6",
          "credentials": {
            "anthropicApi": {
              "id": "0jqTAeHMP0aAlV8t",
              "name": "Claude n8n-api"
            }
          }
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "operation": "edit",
            "owner": {
              "__rl": true,
              "value": "SPKonig",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "private-ops-n8n",
              "mode": "list",
              "cachedResultName": "private-ops-n8n",
              "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
            },
            "filePath": "=workflows/{{ $('Get many workflows').item.json.name }}/{{ $('Get many workflows').item.json.name }}.json",
            "binaryData": true,
            "commitMessage": "=Create JSON backup of {{ $('Get many workflows').item.json.name }} (n8n)"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            -368,
            -368
          ],
          "id": "8a634297-ad0f-41c5-ba5a-b28f15ce2651",
          "name": "Create JSON backup",
          "webhookId": "44f9c3c4-94fc-4077-ac23-18ae401eac15",
          "credentials": {
            "githubOAuth2Api": {
              "id": "F8Ct9QVVOm3TLMQF",
              "name": "GitHub OAuth2 API"
            }
          }
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "owner": {
              "__rl": true,
              "value": "SPKonig",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "private-ops-n8n",
              "mode": "list",
              "cachedResultName": "private-ops-n8n",
              "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
            },
            "filePath": "=workflows/{{ $('Get many workflows').item.json.name }}/README.md",
            "fileContent": "={{ $json.text }}",
            "commitMessage": "=Create README.md for {{ $('Get many workflows').item.json.name }} (n8n)"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            -368,
            -72
          ],
          "id": "2bb03383-3bb2-43e4-83ab-ee713b61ae6c",
          "name": "Create README.md",
          "webhookId": "64aa448e-b237-4e84-ac20-56094d346a21",
          "credentials": {
            "githubOAuth2Api": {
              "id": "F8Ct9QVVOm3TLMQF",
              "name": "GitHub OAuth2 API"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "b36a77d0-c88c-4b94-9ace-fd82e6e99173",
                  "leftValue": "={{ $json.updatedAt }}",
                  "rightValue": "={{ $today.toISO()}}",
                  "operator": {
                    "type": "dateTime",
                    "operation": "after"
                  }
                },
                {
                  "id": "a0115a0f-e5b0-4f62-8fa2-cc1fd3d9618c",
                  "leftValue": "={{ $json.active }}",
                  "rightValue": false,
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  }
                },
                {
                  "id": "b311aaa9-ee50-4b07-a19d-4c533a6fbc89",
                  "leftValue": "={{ $json.createdAt }}",
                  "rightValue": "={{ $today.toISO()}}",
                  "operator": {
                    "type": "dateTime",
                    "operation": "before"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -1392,
            24
          ],
          "id": "df98860c-8575-4b8e-957c-c46d35925525",
          "name": "If"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            -1168,
            120
          ],
          "id": "c31f9c8d-eba1-4e81-97cd-a09aa36da36c",
          "name": "No Operation, do nothing"
        },
        {
          "parameters": {
            "options": {}
          },
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [
            -1168,
            -72
          ],
          "id": "14ca606a-dacc-40f4-ade9-0e0f9ad0ee2a",
          "name": "Loop Over Items"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3.2,
          "position": [
            -144,
            -168
          ],
          "id": "3d251664-dfac-4ace-89a4-1a21cffb29b7",
          "name": "Merge"
        }
      ],
      "connections": {
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Get many workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get many workflows": {
          "main": [
            [
              {
                "node": "If",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Write README": {
          "main": [
            [
              {
                "node": "Create README.md",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convert to JSON": {
          "main": [
            [
              {
                "node": "Create JSON backup",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Remove credentials": {
          "main": [
            [
              {
                "node": "Write README",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "mistral-medium-latest": {
          "ai_languageModel": [
            [
              {
                "node": "Write README",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Claude Sonnet 4.6": {
          "ai_languageModel": [
            [
              {
                "node": "Write README",
                "type": "ai_languageModel",
                "index": 1
              }
            ]
          ]
        },
        "If": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Operation, do nothing",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Over Items": {
          "main": [
            [],
            [
              {
                "node": "Remove credentials",
                "type": "main",
                "index": 0
              },
              {
                "node": "Convert to JSON",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create JSON backup": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create README.md": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Sören Panten",
      "name": "v1.0",
      "description": "Initial publish",
      "autosaved": true
    },
    "tags": []
  }
]