workflows/auto-update-workflow-documentation-github/auto-update-workflow-documentation-github.json
[
  {
    "updatedAt": "2026-05-21T19:10:25.699Z",
    "createdAt": "2026-05-21T17:39:54.950Z",
    "id": "lMBmHIYuZuRPrz3L",
    "name": "auto-update-workflow-documentation-github",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          656,
          336
        ],
        "id": "3da2d617-1677-4d61-b0e7-e511ca80b370",
        "name": "mistral-medium-latest",
        "credentials": {
          "mistralCloudApi": {
            "id": "w613RN8tRYhy269h",
            "name": "Mistral API"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.5,
        "position": [
          848,
          336
        ],
        "id": "a34e833c-18ec-4a6a-9f86-b3580e1f94f5",
        "name": "Claude Sonnet 4.6",
        "credentials": {
          "anthropicApi": {
            "id": "0jqTAeHMP0aAlV8t",
            "name": "Claude n8n-api"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const workflow = $input.first().json;\n\n// Credentials aus allen Nodes entfernen\nconst cleanedNodes = workflow.nodes.map(node => {\n  const { credentials, ...cleanNode } = node;\n  return cleanNode;\n});\n\nreturn [{\n  json: {\n    ...workflow,\n    nodes: cleanedNodes\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          176
        ],
        "id": "501a3bb0-6b53-421c-b59c-a69889dacddc",
        "name": "Remove credentials"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "=data",
          "options": {
            "format": true
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          448,
          -16
        ],
        "id": "51cffc70-2bb8-4f69-9594-7344a4ecb1b0",
        "name": "Convert to JSON"
      },
      {
        "parameters": {
          "events": [
            "update"
          ]
        },
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          -48,
          80
        ],
        "id": "ec586177-a2f3-458f-aa20-5d4e6529f819",
        "name": "Published Workflow Updated",
        "notesInFlow": false
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "SPKonig",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "private-ops-n8n",
            "mode": "list",
            "cachedResultName": "private-ops-n8n",
            "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
          },
          "filePath": "=workflows/{{ $('Get Workflow').item.json.name }}/{{ $('Get Workflow').item.json.name }}.json",
          "binaryData": true,
          "commitMessage": "=Update JSON of {{ $('Get Workflow').item.json.name }} (n8n)"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1008,
          -16
        ],
        "id": "dac08e20-cd93-4787-8dec-c42ebb0ef2ae",
        "name": "Update JSON backup",
        "webhookId": "4650e5e2-c948-4014-b975-7e02b42de279",
        "credentials": {
          "githubOAuth2Api": {
            "id": "F8Ct9QVVOm3TLMQF",
            "name": "GitHub OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "SPKonig",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "private-ops-n8n",
            "mode": "list",
            "cachedResultName": "private-ops-n8n",
            "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
          },
          "filePath": "=workflows/{{ $('Get Workflow').item.json.name }}/README.md",
          "fileContent": "={{ $json.text }}",
          "commitMessage": "=Update README.md for {{ $('Get Workflow').item.json.name }} (n8n)"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1008,
          176
        ],
        "id": "8699dee0-80e2-4f63-ba5a-1747c813b15e",
        "name": "Update README.md",
        "webhookId": "e68fdc6b-d909-493b-8643-dbb82870ae23",
        "credentials": {
          "githubOAuth2Api": {
            "id": "F8Ct9QVVOm3TLMQF",
            "name": "GitHub OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.workflow_id }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          192,
          80
        ],
        "id": "5e72138e-4b42-458b-96a6-61f0aa6f6fca",
        "name": "Get Workflow",
        "credentials": {
          "n8nApi": {
            "id": "CWPNJuJvvhzaDwLl",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Du bist ein technischer Dokumentations-Experte. Erstelle eine README.md für einen n8n Workflow.\n\nHier sind die vollständigen Workflow-Daten als JSON:\n\n<workflow_data>\n{{JSON.stringify($json)}}\n</workflow_data>\n\nAnalysiere das gesamte JSON-Objekt vollständig bevor du schreibst – insbesondere:\n- `nodes` Array mit allen Nodes, deren `type`, `name` und `notes`\n- `connections` Objekt um die tatsächliche Ausführungsreihenfolge zu verstehen\n- `shared` Array für Projektinformationen\n- Alle Metadaten-Felder (`id`, `name`, `createdAt`, `updatedAt`, `active`)\n\nErstelle die README.md mit exakt dieser Struktur:\n\n# [workflow name]\n\n[Kurze Beschreibung in einem Satz. Falls description leer oder null ist, leite sie aus der Gesamtlogik der Nodes ab.]\n\n## Overview\n\n- **Workflow ID:** `[id]`\n- **Status:** [Active / Inactive (Draft)]\n- **Created:** [createdAt als DD.MM.YYYY]\n- **Last Modified:** [updatedAt als DD.MM.YYYY]\n- **Project:** [shared[0].project.name]\n- **URL:** [https://private-ops.app.n8n.cloud/workflow/[id]]\n\n## Trigger\n\n[1-2 Sätze was den Workflow startet – aus dem connections-Objekt und dem ersten Node ableiten.]\n\n## Workflow Steps\n\n[Nodes in korrekter Ausführungsreihenfolge aus dem connections-Objekt – nicht aus der Reihenfolge im nodes-Array.]\n\n**1. [node.name]**\n- **Type:** `[node.type]`\n- **Function:** [Ein Satz was dieser Node tut]\n- **Notes:** [node.notes – nur ausgeben wenn vorhanden und nicht leer]\n\n## Connected Systems\n\n[Bullet-Liste aller externen Systeme direkt aus node.type abgeleitet:]\n- `n8n-nodes-base.github` zu **GitHub**\n- `n8n-nodes-langchain.lmChatAnthropic` zu **Anthropic Claude**\n- `n8n-nodes-langchain.lmChatMistralCloud` zu **Mistral AI**\n- `n8n-nodes-base.microsoftOneDrive` zu **Microsoft OneDrive**\n- alle anderen Services analog ableiten\n\n## Metadata\n\n*Auto-generated by n8n workflow documentation system. Last updated: [updatedAt als DD.MM.YYYY]*\n\n---\n\nRegeln:\n- Verwende ausschließlich diese Markdown-Elemente: Überschriften (#, ##, ###), Fettschrift (**text**), Aufzählungen (-), Code (`backticks`), Fließtext\n- Keine Tabellen\n- Kein Mermaid\n- Keine HTML-Tags\n- Ausschließlich auf Englisch schreiben\n- Ton: technisch, präzise, professionell\n- Gib ausschließlich den Markdown-Text aus – keine Einleitung, keine Erklärung, keine Backticks um den gesamten Output\n- Fehlende optionale Felder (description, notes) komplett weglassen – nicht als \"N/A\" oder \"—\" ausgeben\n- Das connections-Objekt ist die einzige verlässliche Quelle für die Ausführungsreihenfolge\n- Notes pro Node nur ausgeben wenn node.notes vorhanden und nicht leer ist\n- Alle Datumsfelder als DD.MM.YYYY ausgeben – nicht als ISO-String\n- Alle Felder mit echten Daten füllen – keine Platzhalter im Output",
          "needsFallback": true,
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          656,
          176
        ],
        "id": "a39488cc-0b5b-4e7b-b9bd-0b7311e72ac6",
        "name": "Create README"
      }
    ],
    "connections": {
      "mistral-medium-latest": {
        "ai_languageModel": [
          [
            {
              "node": "Create README",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Claude Sonnet 4.6": {
        "ai_languageModel": [
          [
            {
              "node": "Create README",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Remove credentials": {
        "main": [
          [
            {
              "node": "Create README",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to JSON": {
        "main": [
          [
            {
              "node": "Update JSON backup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Published Workflow Updated": {
        "main": [
          [
            {
              "node": "Get Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update JSON backup": {
        "main": [
          []
        ]
      },
      "Update README.md": {
        "main": [
          []
        ]
      },
      "Get Workflow": {
        "main": [
          [
            {
              "node": "Convert to JSON",
              "type": "main",
              "index": 0
            },
            {
              "node": "Remove credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README": {
        "main": [
          [
            {
              "node": "Update README.md",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner",
      "timeSavedPerExecution": 10,
      "errorWorkflow": "hmJldT9kg1FuUJhz"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
    "activeVersionId": "6977e63a-ca72-4915-925b-40fffa885269",
    "versionCounter": 25,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-05-21T17:39:54.953Z",
        "createdAt": "2026-05-21T17:39:54.953Z",
        "role": "workflow:owner",
        "workflowId": "lMBmHIYuZuRPrz3L",
        "projectId": "XuyYL8PsGDCQnc0d",
        "project": {
          "updatedAt": "2026-05-19T21:34:37.000Z",
          "createdAt": "2026-05-19T21:32:51.035Z",
          "id": "XuyYL8PsGDCQnc0d",
          "name": "functionality",
          "type": "team",
          "icon": {
            "type": "icon",
            "value": "layers"
          },
          "description": "This project consists of all workflow with basic functionality for a solid working n8n setup",
          "creatorId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        }
      }
    ],
    "tags": [],
    "activeVersion": {
      "updatedAt": "2026-05-21T18:33:27.000Z",
      "createdAt": "2026-05-21T18:19:02.392Z",
      "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
      "workflowId": "lMBmHIYuZuRPrz3L",
      "nodes": [
        {
          "parameters": {
            "model": "mistral-medium-latest",
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
          "typeVersion": 1,
          "position": [
            656,
            336
          ],
          "id": "3da2d617-1677-4d61-b0e7-e511ca80b370",
          "name": "mistral-medium-latest",
          "credentials": {
            "mistralCloudApi": {
              "id": "w613RN8tRYhy269h",
              "name": "Mistral API"
            }
          }
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "value": "claude-sonnet-4-6",
              "mode": "list",
              "cachedResultName": "Claude Sonnet 4.6"
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
          "typeVersion": 1.5,
          "position": [
            848,
            336
          ],
          "id": "a34e833c-18ec-4a6a-9f86-b3580e1f94f5",
          "name": "Claude Sonnet 4.6",
          "credentials": {
            "anthropicApi": {
              "id": "0jqTAeHMP0aAlV8t",
              "name": "Claude n8n-api"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const workflow = $input.first().json;\n\n// Credentials aus allen Nodes entfernen\nconst cleanedNodes = workflow.nodes.map(node => {\n  const { credentials, ...cleanNode } = node;\n  return cleanNode;\n});\n\nreturn [{\n  json: {\n    ...workflow,\n    nodes: cleanedNodes\n  }\n}];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            448,
            176
          ],
          "id": "501a3bb0-6b53-421c-b59c-a69889dacddc",
          "name": "Remove credentials"
        },
        {
          "parameters": {
            "operation": "toJson",
            "binaryPropertyName": "=data",
            "options": {
              "format": true
            }
          },
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            448,
            -16
          ],
          "id": "51cffc70-2bb8-4f69-9594-7344a4ecb1b0",
          "name": "Convert to JSON"
        },
        {
          "parameters": {
            "events": [
              "update"
            ]
          },
          "type": "n8n-nodes-base.n8nTrigger",
          "typeVersion": 1,
          "position": [
            -48,
            80
          ],
          "id": "ec586177-a2f3-458f-aa20-5d4e6529f819",
          "name": "Published Workflow Updated",
          "notesInFlow": false
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "operation": "edit",
            "owner": {
              "__rl": true,
              "value": "SPKonig",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "private-ops-n8n",
              "mode": "list",
              "cachedResultName": "private-ops-n8n",
              "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
            },
            "filePath": "=workflows/{{ $('Get Workflow').item.json.name }}/{{ $('Get Workflow').item.json.name }}.json",
            "binaryData": true,
            "commitMessage": "=Update JSON of {{ $('Get Workflow').item.json.name }} (n8n)"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            1008,
            -16
          ],
          "id": "dac08e20-cd93-4787-8dec-c42ebb0ef2ae",
          "name": "Update JSON backup",
          "webhookId": "4650e5e2-c948-4014-b975-7e02b42de279",
          "credentials": {
            "githubOAuth2Api": {
              "id": "F8Ct9QVVOm3TLMQF",
              "name": "GitHub OAuth2 API"
            }
          }
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "operation": "edit",
            "owner": {
              "__rl": true,
              "value": "SPKonig",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "private-ops-n8n",
              "mode": "list",
              "cachedResultName": "private-ops-n8n",
              "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
            },
            "filePath": "=workflows/{{ $('Get Workflow').item.json.name }}/README.md",
            "fileContent": "={{ $json.text }}",
            "commitMessage": "=Update README.md for {{ $('Get Workflow').item.json.name }} (n8n)"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            1008,
            176
          ],
          "id": "8699dee0-80e2-4f63-ba5a-1747c813b15e",
          "name": "Update README.md",
          "webhookId": "e68fdc6b-d909-493b-8643-dbb82870ae23",
          "credentials": {
            "githubOAuth2Api": {
              "id": "F8Ct9QVVOm3TLMQF",
              "name": "GitHub OAuth2 API"
            }
          }
        },
        {
          "parameters": {
            "operation": "get",
            "workflowId": {
              "__rl": true,
              "value": "={{ $json.workflow_id }}",
              "mode": "id"
            },
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.n8n",
          "typeVersion": 1,
          "position": [
            192,
            80
          ],
          "id": "5e72138e-4b42-458b-96a6-61f0aa6f6fca",
          "name": "Get Workflow",
          "credentials": {
            "n8nApi": {
              "id": "CWPNJuJvvhzaDwLl",
              "name": "n8n account"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Du bist ein technischer Dokumentations-Experte. Erstelle eine README.md für einen n8n Workflow.\n\nHier sind die vollständigen Workflow-Daten als JSON:\n\n<workflow_data>\n{{JSON.stringify($json)}}\n</workflow_data>\n\nAnalysiere das gesamte JSON-Objekt vollständig bevor du schreibst – insbesondere:\n- `nodes` Array mit allen Nodes, deren `type`, `name` und `notes`\n- `connections` Objekt um die tatsächliche Ausführungsreihenfolge zu verstehen\n- `shared` Array für Projektinformationen\n- Alle Metadaten-Felder (`id`, `name`, `createdAt`, `updatedAt`, `active`)\n\nErstelle die README.md mit exakt dieser Struktur:\n\n# [workflow name]\n\n[Kurze Beschreibung in einem Satz. Falls description leer oder null ist, leite sie aus der Gesamtlogik der Nodes ab.]\n\n## Overview\n\n- **Workflow ID:** `[id]`\n- **Status:** [Active / Inactive (Draft)]\n- **Created:** [createdAt als DD.MM.YYYY]\n- **Last Modified:** [updatedAt als DD.MM.YYYY]\n- **Project:** [shared[0].project.name]\n- **URL:** [https://private-ops.app.n8n.cloud/workflow/[id]]\n\n## Trigger\n\n[1-2 Sätze was den Workflow startet – aus dem connections-Objekt und dem ersten Node ableiten.]\n\n## Workflow Steps\n\n[Nodes in korrekter Ausführungsreihenfolge aus dem connections-Objekt – nicht aus der Reihenfolge im nodes-Array.]\n\n**1. [node.name]**\n- **Type:** `[node.type]`\n- **Function:** [Ein Satz was dieser Node tut]\n- **Notes:** [node.notes – nur ausgeben wenn vorhanden und nicht leer]\n\n## Connected Systems\n\n[Bullet-Liste aller externen Systeme direkt aus node.type abgeleitet:]\n- `n8n-nodes-base.github` zu **GitHub**\n- `n8n-nodes-langchain.lmChatAnthropic` zu **Anthropic Claude**\n- `n8n-nodes-langchain.lmChatMistralCloud` zu **Mistral AI**\n- `n8n-nodes-base.microsoftOneDrive` zu **Microsoft OneDrive**\n- alle anderen Services analog ableiten\n\n## Metadata\n\n*Auto-generated by n8n workflow documentation system. Last updated: [updatedAt als DD.MM.YYYY]*\n\n---\n\nRegeln:\n- Verwende ausschließlich diese Markdown-Elemente: Überschriften (#, ##, ###), Fettschrift (**text**), Aufzählungen (-), Code (`backticks`), Fließtext\n- Keine Tabellen\n- Kein Mermaid\n- Keine HTML-Tags\n- Ausschließlich auf Englisch schreiben\n- Ton: technisch, präzise, professionell\n- Gib ausschließlich den Markdown-Text aus – keine Einleitung, keine Erklärung, keine Backticks um den gesamten Output\n- Fehlende optionale Felder (description, notes) komplett weglassen – nicht als \"N/A\" oder \"—\" ausgeben\n- Das connections-Objekt ist die einzige verlässliche Quelle für die Ausführungsreihenfolge\n- Notes pro Node nur ausgeben wenn node.notes vorhanden und nicht leer ist\n- Alle Datumsfelder als DD.MM.YYYY ausgeben – nicht als ISO-String\n- Alle Felder mit echten Daten füllen – keine Platzhalter im Output",
            "needsFallback": true,
            "batching": {}
          },
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            656,
            176
          ],
          "id": "a39488cc-0b5b-4e7b-b9bd-0b7311e72ac6",
          "name": "Create README"
        }
      ],
      "connections": {
        "mistral-medium-latest": {
          "ai_languageModel": [
            [
              {
                "node": "Create README",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Claude Sonnet 4.6": {
          "ai_languageModel": [
            [
              {
                "node": "Create README",
                "type": "ai_languageModel",
                "index": 1
              }
            ]
          ]
        },
        "Remove credentials": {
          "main": [
            [
              {
                "node": "Create README",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convert to JSON": {
          "main": [
            [
              {
                "node": "Update JSON backup",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Published Workflow Updated": {
          "main": [
            [
              {
                "node": "Get Workflow",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Update JSON backup": {
          "main": [
            []
          ]
        },
        "Update README.md": {
          "main": [
            []
          ]
        },
        "Get Workflow": {
          "main": [
            [
              {
                "node": "Convert to JSON",
                "type": "main",
                "index": 0
              },
              {
                "node": "Remove credentials",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create README": {
          "main": [
            [
              {
                "node": "Update README.md",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Sören Panten",
      "name": "v1.0",
      "description": "Initial publish",
      "autosaved": true,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-05-21T18:25:30.558Z",
          "id": 22,
          "workflowId": "lMBmHIYuZuRPrz3L",
          "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
          "event": "activated",
          "userId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        },
        {
          "createdAt": "2026-05-21T18:25:41.987Z",
          "id": 24,
          "workflowId": "lMBmHIYuZuRPrz3L",
          "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
          "event": "activated",
          "userId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        },
        {
          "createdAt": "2026-05-21T18:33:27.433Z",
          "id": 26,
          "workflowId": "lMBmHIYuZuRPrz3L",
          "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
          "event": "activated",
          "userId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        },
        {
          "createdAt": "2026-05-21T19:10:25.923Z",
          "id": 35,
          "workflowId": "lMBmHIYuZuRPrz3L",
          "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
          "event": "activated",
          "userId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        },
        {
          "createdAt": "2026-05-21T18:25:41.822Z",
          "id": 23,
          "workflowId": "lMBmHIYuZuRPrz3L",
          "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
          "event": "deactivated",
          "userId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        },
        {
          "createdAt": "2026-05-21T18:33:15.356Z",
          "id": 25,
          "workflowId": "lMBmHIYuZuRPrz3L",
          "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
          "event": "deactivated",
          "userId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        },
        {
          "createdAt": "2026-05-21T19:10:25.760Z",
          "id": 34,
          "workflowId": "lMBmHIYuZuRPrz3L",
          "versionId": "6977e63a-ca72-4915-925b-40fffa885269",
          "event": "deactivated",
          "userId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        }
      ]
    }
  }
]