workflows/auto-create-workflow-documentation-github/auto-create-workflow-documentation-github.json
[
  {
    "updatedAt": "2026-05-21T18:20:37.643Z",
    "createdAt": "2026-05-19T20:51:00.493Z",
    "id": "NNU5Ji2Nbg1UxvbD",
    "name": "auto-create-workflow-documentation-github",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=Du bist ein technischer Dokumentations-Experte. Erstelle eine README.md für einen n8n Workflow.\n\nHier sind die vollständigen Workflow-Daten als JSON:\n\n<workflow_data>\n{{JSON.stringify($json)}}\n</workflow_data>\n\nAnalysiere das gesamte JSON-Objekt vollständig bevor du schreibst – insbesondere:\n- `nodes` Array mit allen Nodes, deren `type`, `name` und `notes`\n- `connections` Objekt um die tatsächliche Ausführungsreihenfolge zu verstehen\n- `shared` Array für Projektinformationen\n- Alle Metadaten-Felder (`id`, `name`, `createdAt`, `updatedAt`, `active`)\n\nErstelle die README.md mit exakt dieser Struktur:\n\n# [workflow name]\n\n[Kurze Beschreibung in einem Satz. Falls description leer oder null ist, leite sie aus der Gesamtlogik der Nodes ab.]\n\n## Overview\n\n- **Workflow ID:** `[id]`\n- **Status:** [Active / Inactive (Draft)]\n- **Created:** [createdAt als DD.MM.YYYY]\n- **Last Modified:** [updatedAt als DD.MM.YYYY]\n- **Project:** [shared[0].project.name]\n- **URL:** [https://private-ops.app.n8n.cloud/workflow/[id]]\n\n## Trigger\n\n[1-2 Sätze was den Workflow startet – aus dem connections-Objekt und dem ersten Node ableiten.]\n\n## Workflow Steps\n\n[Nodes in korrekter Ausführungsreihenfolge aus dem connections-Objekt – nicht aus der Reihenfolge im nodes-Array.]\n\n**1. [node.name]**\n- **Type:** `[node.type]`\n- **Function:** [Ein Satz was dieser Node tut]\n- **Notes:** [node.notes – nur ausgeben wenn vorhanden und nicht leer]\n\n## Connected Systems\n\n[Bullet-Liste aller externen Systeme direkt aus node.type abgeleitet:]\n- `n8n-nodes-base.github` zu **GitHub**\n- `n8n-nodes-langchain.lmChatAnthropic` zu **Anthropic Claude**\n- `n8n-nodes-langchain.lmChatMistralCloud` zu **Mistral AI**\n- `n8n-nodes-base.microsoftOneDrive` zu **Microsoft OneDrive**\n- alle anderen Services analog ableiten\n\n## Metadata\n\n*Auto-generated by n8n workflow documentation system. Last updated: [updatedAt als DD.MM.YYYY]*\n\n---\n\nRegeln:\n- Verwende ausschließlich diese Markdown-Elemente: Überschriften (#, ##, ###), Fettschrift (**text**), Aufzählungen (-), Code (`backticks`), Fließtext\n- Keine Tabellen\n- Kein Mermaid\n- Keine HTML-Tags\n- Ausschließlich auf Englisch schreiben\n- Ton: technisch, präzise, professionell\n- Gib ausschließlich den Markdown-Text aus – keine Einleitung, keine Erklärung, keine Backticks um den gesamten Output\n- Fehlende optionale Felder (description, notes) komplett weglassen – nicht als \"N/A\" oder \"—\" ausgeben\n- Das connections-Objekt ist die einzige verlässliche Quelle für die Ausführungsreihenfolge\n- Notes pro Node nur ausgeben wenn node.notes vorhanden und nicht leer ist\n- Alle Datumsfelder als DD.MM.YYYY ausgeben – nicht als ISO-String\n- Alle Felder mit echten Daten füllen – keine Platzhalter im Output",
          "needsFallback": true,
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          608,
          176
        ],
        "id": "6ffdc78e-ec8f-4729-a854-ba6d62f437da",
        "name": "Write README"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "=data",
          "options": {
            "format": true
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          400,
          -16
        ],
        "id": "55b21138-f451-40fe-b28c-5a24d3468141",
        "name": "Convert to JSON"
      },
      {
        "parameters": {
          "jsCode": "const workflow = $input.first().json;\n\n// Credentials aus allen Nodes entfernen\nconst cleanedNodes = workflow.nodes.map(node => {\n  const { credentials, ...cleanNode } = node;\n  return cleanNode;\n});\n\nreturn [{\n  json: {\n    ...workflow,\n    nodes: cleanedNodes\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          176
        ],
        "id": "66669971-4b45-4a42-baea-80841945cbc4",
        "name": "Remove credentials"
      },
      {
        "parameters": {
          "events": [
            "activate"
          ]
        },
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          -128,
          80
        ],
        "id": "2f80c523-d9a8-4063-8141-9ee0d80955ba",
        "name": "Workflow Published",
        "notesInFlow": false
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.workflow_id }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          80,
          80
        ],
        "id": "b23c8109-8a2a-40c4-9f3a-bc85423a7646",
        "name": "Get Workflow",
        "credentials": {
          "n8nApi": {
            "id": "CWPNJuJvvhzaDwLl",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          608,
          336
        ],
        "id": "b3b4312b-9fa0-4695-ac46-8822673d8b2a",
        "name": "mistral-medium-latest",
        "credentials": {
          "mistralCloudApi": {
            "id": "w613RN8tRYhy269h",
            "name": "Mistral API"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.5,
        "position": [
          800,
          336
        ],
        "id": "f17b6992-c173-400c-a378-24bc8520e07f",
        "name": "Claude Sonnet 4.6",
        "credentials": {
          "anthropicApi": {
            "id": "0jqTAeHMP0aAlV8t",
            "name": "Claude n8n-api"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "SPKonig",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "private-ops-n8n",
            "mode": "list",
            "cachedResultName": "private-ops-n8n",
            "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
          },
          "filePath": "=workflows/{{ $('Get Workflow').item.json.name }}/{{ $('Get Workflow').item.json.name }}.json",
          "binaryData": true,
          "commitMessage": "=Create JSON backup of {{ $('Get Workflow').item.json.name }} (n8n)"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          992,
          -16
        ],
        "id": "b2639fd7-a703-45ed-8251-9f043560ee95",
        "name": "Create JSON backup",
        "webhookId": "beb31d4a-c5e4-4c75-8997-fa0b6a632bd6",
        "credentials": {
          "githubOAuth2Api": {
            "id": "F8Ct9QVVOm3TLMQF",
            "name": "GitHub OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "SPKonig",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "private-ops-n8n",
            "mode": "list",
            "cachedResultName": "private-ops-n8n",
            "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
          },
          "filePath": "=workflows/{{ $('Get Workflow').item.json.name }}/README.md",
          "fileContent": "={{ $json.text }}",
          "commitMessage": "=Create README.md for {{ $('Get Workflow').item.json.name }} (n8n)"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          992,
          176
        ],
        "id": "69f457cc-df70-404b-814b-01969677a832",
        "name": "Create README.md",
        "webhookId": "beb31d4a-c5e4-4c75-8997-fa0b6a632bd6",
        "credentials": {
          "githubOAuth2Api": {
            "id": "F8Ct9QVVOm3TLMQF",
            "name": "GitHub OAuth2 API"
          }
        }
      }
    ],
    "connections": {
      "Write README": {
        "main": [
          [
            {
              "node": "Create README.md",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to JSON": {
        "main": [
          [
            {
              "node": "Create JSON backup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove credentials": {
        "main": [
          [
            {
              "node": "Write README",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Published": {
        "main": [
          [
            {
              "node": "Get Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Workflow": {
        "main": [
          [
            {
              "node": "Remove credentials",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert to JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mistral-medium-latest": {
        "ai_languageModel": [
          [
            {
              "node": "Write README",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Claude Sonnet 4.6": {
        "ai_languageModel": [
          [
            {
              "node": "Write README",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Create JSON backup": {
        "main": [
          []
        ]
      },
      "Create README.md": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "3ec13091-2fdb-4167-ac6c-13966ad41b1b",
    "activeVersionId": "3ec13091-2fdb-4167-ac6c-13966ad41b1b",
    "versionCounter": 689,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-05-21T14:11:31.556Z",
        "createdAt": "2026-05-21T14:11:31.556Z",
        "role": "workflow:owner",
        "workflowId": "NNU5Ji2Nbg1UxvbD",
        "projectId": "XuyYL8PsGDCQnc0d",
        "project": {
          "updatedAt": "2026-05-19T21:34:37.000Z",
          "createdAt": "2026-05-19T21:32:51.035Z",
          "id": "XuyYL8PsGDCQnc0d",
          "name": "functionality",
          "type": "team",
          "icon": {
            "type": "icon",
            "value": "layers"
          },
          "description": "This project consists of all workflow with basic functionality for a solid working n8n setup",
          "creatorId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        }
      }
    ],
    "tags": [],
    "activeVersion": {
      "updatedAt": "2026-05-21T18:22:40.000Z",
      "createdAt": "2026-05-21T18:20:37.644Z",
      "versionId": "3ec13091-2fdb-4167-ac6c-13966ad41b1b",
      "workflowId": "NNU5Ji2Nbg1UxvbD",
      "nodes": [
        {
          "parameters": {
            "promptType": "define",
            "text": "=Du bist ein technischer Dokumentations-Experte. Erstelle eine README.md für einen n8n Workflow.\n\nHier sind die vollständigen Workflow-Daten als JSON:\n\n<workflow_data>\n{{JSON.stringify($json)}}\n</workflow_data>\n\nAnalysiere das gesamte JSON-Objekt vollständig bevor du schreibst – insbesondere:\n- `nodes` Array mit allen Nodes, deren `type`, `name` und `notes`\n- `connections` Objekt um die tatsächliche Ausführungsreihenfolge zu verstehen\n- `shared` Array für Projektinformationen\n- Alle Metadaten-Felder (`id`, `name`, `createdAt`, `updatedAt`, `active`)\n\nErstelle die README.md mit exakt dieser Struktur:\n\n# [workflow name]\n\n[Kurze Beschreibung in einem Satz. Falls description leer oder null ist, leite sie aus der Gesamtlogik der Nodes ab.]\n\n## Overview\n\n- **Workflow ID:** `[id]`\n- **Status:** [Active / Inactive (Draft)]\n- **Created:** [createdAt als DD.MM.YYYY]\n- **Last Modified:** [updatedAt als DD.MM.YYYY]\n- **Project:** [shared[0].project.name]\n- **URL:** [https://private-ops.app.n8n.cloud/workflow/[id]]\n\n## Trigger\n\n[1-2 Sätze was den Workflow startet – aus dem connections-Objekt und dem ersten Node ableiten.]\n\n## Workflow Steps\n\n[Nodes in korrekter Ausführungsreihenfolge aus dem connections-Objekt – nicht aus der Reihenfolge im nodes-Array.]\n\n**1. [node.name]**\n- **Type:** `[node.type]`\n- **Function:** [Ein Satz was dieser Node tut]\n- **Notes:** [node.notes – nur ausgeben wenn vorhanden und nicht leer]\n\n## Connected Systems\n\n[Bullet-Liste aller externen Systeme direkt aus node.type abgeleitet:]\n- `n8n-nodes-base.github` zu **GitHub**\n- `n8n-nodes-langchain.lmChatAnthropic` zu **Anthropic Claude**\n- `n8n-nodes-langchain.lmChatMistralCloud` zu **Mistral AI**\n- `n8n-nodes-base.microsoftOneDrive` zu **Microsoft OneDrive**\n- alle anderen Services analog ableiten\n\n## Metadata\n\n*Auto-generated by n8n workflow documentation system. Last updated: [updatedAt als DD.MM.YYYY]*\n\n---\n\nRegeln:\n- Verwende ausschließlich diese Markdown-Elemente: Überschriften (#, ##, ###), Fettschrift (**text**), Aufzählungen (-), Code (`backticks`), Fließtext\n- Keine Tabellen\n- Kein Mermaid\n- Keine HTML-Tags\n- Ausschließlich auf Englisch schreiben\n- Ton: technisch, präzise, professionell\n- Gib ausschließlich den Markdown-Text aus – keine Einleitung, keine Erklärung, keine Backticks um den gesamten Output\n- Fehlende optionale Felder (description, notes) komplett weglassen – nicht als \"N/A\" oder \"—\" ausgeben\n- Das connections-Objekt ist die einzige verlässliche Quelle für die Ausführungsreihenfolge\n- Notes pro Node nur ausgeben wenn node.notes vorhanden und nicht leer ist\n- Alle Datumsfelder als DD.MM.YYYY ausgeben – nicht als ISO-String\n- Alle Felder mit echten Daten füllen – keine Platzhalter im Output",
            "needsFallback": true,
            "batching": {}
          },
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            608,
            176
          ],
          "id": "6ffdc78e-ec8f-4729-a854-ba6d62f437da",
          "name": "Write README"
        },
        {
          "parameters": {
            "operation": "toJson",
            "binaryPropertyName": "=data",
            "options": {
              "format": true
            }
          },
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            400,
            -16
          ],
          "id": "55b21138-f451-40fe-b28c-5a24d3468141",
          "name": "Convert to JSON"
        },
        {
          "parameters": {
            "jsCode": "const workflow = $input.first().json;\n\n// Credentials aus allen Nodes entfernen\nconst cleanedNodes = workflow.nodes.map(node => {\n  const { credentials, ...cleanNode } = node;\n  return cleanNode;\n});\n\nreturn [{\n  json: {\n    ...workflow,\n    nodes: cleanedNodes\n  }\n}];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            400,
            176
          ],
          "id": "66669971-4b45-4a42-baea-80841945cbc4",
          "name": "Remove credentials"
        },
        {
          "parameters": {
            "events": [
              "activate"
            ]
          },
          "type": "n8n-nodes-base.n8nTrigger",
          "typeVersion": 1,
          "position": [
            -128,
            80
          ],
          "id": "2f80c523-d9a8-4063-8141-9ee0d80955ba",
          "name": "Workflow Published",
          "notesInFlow": false
        },
        {
          "parameters": {
            "operation": "get",
            "workflowId": {
              "__rl": true,
              "value": "={{ $json.workflow_id }}",
              "mode": "id"
            },
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.n8n",
          "typeVersion": 1,
          "position": [
            80,
            80
          ],
          "id": "b23c8109-8a2a-40c4-9f3a-bc85423a7646",
          "name": "Get Workflow",
          "credentials": {
            "n8nApi": {
              "id": "CWPNJuJvvhzaDwLl",
              "name": "n8n account"
            }
          }
        },
        {
          "parameters": {
            "model": "mistral-medium-latest",
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
          "typeVersion": 1,
          "position": [
            608,
            336
          ],
          "id": "b3b4312b-9fa0-4695-ac46-8822673d8b2a",
          "name": "mistral-medium-latest",
          "credentials": {
            "mistralCloudApi": {
              "id": "w613RN8tRYhy269h",
              "name": "Mistral API"
            }
          }
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "value": "claude-sonnet-4-6",
              "mode": "list",
              "cachedResultName": "Claude Sonnet 4.6"
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
          "typeVersion": 1.5,
          "position": [
            800,
            336
          ],
          "id": "f17b6992-c173-400c-a378-24bc8520e07f",
          "name": "Claude Sonnet 4.6",
          "credentials": {
            "anthropicApi": {
              "id": "0jqTAeHMP0aAlV8t",
              "name": "Claude n8n-api"
            }
          }
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "owner": {
              "__rl": true,
              "value": "SPKonig",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "private-ops-n8n",
              "mode": "list",
              "cachedResultName": "private-ops-n8n",
              "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
            },
            "filePath": "=workflows/{{ $('Get Workflow').item.json.name }}/{{ $('Get Workflow').item.json.name }}.json",
            "binaryData": true,
            "commitMessage": "=Create JSON backup of {{ $('Get Workflow').item.json.name }} (n8n)"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            992,
            -16
          ],
          "id": "b2639fd7-a703-45ed-8251-9f043560ee95",
          "name": "Create JSON backup",
          "webhookId": "beb31d4a-c5e4-4c75-8997-fa0b6a632bd6",
          "credentials": {
            "githubOAuth2Api": {
              "id": "F8Ct9QVVOm3TLMQF",
              "name": "GitHub OAuth2 API"
            }
          }
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "owner": {
              "__rl": true,
              "value": "SPKonig",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "private-ops-n8n",
              "mode": "list",
              "cachedResultName": "private-ops-n8n",
              "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
            },
            "filePath": "=workflows/{{ $('Get Workflow').item.json.name }}/README.md",
            "fileContent": "={{ $json.text }}",
            "commitMessage": "=Create README.md for {{ $('Get Workflow').item.json.name }} (n8n)"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            992,
            176
          ],
          "id": "69f457cc-df70-404b-814b-01969677a832",
          "name": "Create README.md",
          "webhookId": "beb31d4a-c5e4-4c75-8997-fa0b6a632bd6",
          "credentials": {
            "githubOAuth2Api": {
              "id": "F8Ct9QVVOm3TLMQF",
              "name": "GitHub OAuth2 API"
            }
          }
        }
      ],
      "connections": {
        "Write README": {
          "main": [
            [
              {
                "node": "Create README.md",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convert to JSON": {
          "main": [
            [
              {
                "node": "Create JSON backup",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Remove credentials": {
          "main": [
            [
              {
                "node": "Write README",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Workflow Published": {
          "main": [
            [
              {
                "node": "Get Workflow",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Workflow": {
          "main": [
            [
              {
                "node": "Remove credentials",
                "type": "main",
                "index": 0
              },
              {
                "node": "Convert to JSON",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "mistral-medium-latest": {
          "ai_languageModel": [
            [
              {
                "node": "Write README",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Claude Sonnet 4.6": {
          "ai_languageModel": [
            [
              {
                "node": "Write README",
                "type": "ai_languageModel",
                "index": 1
              }
            ]
          ]
        },
        "Create JSON backup": {
          "main": [
            []
          ]
        },
        "Create README.md": {
          "main": [
            []
          ]
        }
      },
      "authors": "Sören Panten",
      "name": "v1.0",
      "description": "Initial publish",
      "autosaved": true,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-05-21T18:22:40.445Z",
          "id": 19,
          "workflowId": "NNU5Ji2Nbg1UxvbD",
          "versionId": "3ec13091-2fdb-4167-ac6c-13966ad41b1b",
          "event": "activated",
          "userId": "048b10ea-fb35-4264-a7fb-902c17d261d2"
        }
      ]
    }
  }
]