workflows/auto-create-workflow-documentation-github/auto-create-workflow-documentation-github.json
[
  {
    "updatedAt": "2026-06-02T21:49:26.167Z",
    "createdAt": "2026-06-02T19:28:04.732Z",
    "id": "GDVqgNwMfS4wQDsC",
    "name": "auto-create-workflow-documentation-github",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -848,
          -104
        ],
        "id": "3b45eef5-c012-4187-bc8c-2b011ee48586",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -624,
          -104
        ],
        "id": "1b78ff7d-d53f-4546-b2cc-9aa6bc00fa5c",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "CWPNJuJvvhzaDwLl",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Du bist ein technischer Dokumentations-Experte. Erstelle eine README.md für einen n8n Workflow.\n\nHier sind die vollständigen Workflow-Daten als JSON:\n\n<workflow_data>\n{{JSON.stringify($json)}}\n</workflow_data>\n\nAnalysiere das gesamte JSON-Objekt vollständig bevor du schreibst – insbesondere:\n- `nodes` Array mit allen Nodes, deren `type`, `name` und `notes`\n- `connections` Objekt um die tatsächliche Ausführungsreihenfolge zu verstehen\n- `shared` Array für Projektinformationen\n- Alle Metadaten-Felder (`id`, `name`, `createdAt`, `updatedAt`, `active`)\n\nErstelle die README.md mit exakt dieser Struktur:\n\n# [workflow name]\n\n[Kurze Beschreibung in einem Satz. Falls description leer oder null ist, leite sie aus der Gesamtlogik der Nodes ab.]\n\n## Overview\n\n- **Workflow ID:** `[id]`\n- **Status:** [Active / Inactive (Draft)]\n- **Created:** [createdAt als DD.MM.YYYY]\n- **Last Modified:** [updatedAt als DD.MM.YYYY]\n- **Project:** [shared[0].project.name]\n- **URL:** [https://private-ops.app.n8n.cloud/workflow/[id]]\n\n## Trigger\n\n[1-2 Sätze was den Workflow startet – aus dem connections-Objekt und dem ersten Node ableiten.]\n\n## Workflow Steps\n\n[Nodes in korrekter Ausführungsreihenfolge aus dem connections-Objekt – nicht aus der Reihenfolge im nodes-Array.]\n\n**1. [node.name]**\n- **Type:** `[node.type]`\n- **Function:** [Ein Satz was dieser Node tut]\n- **Notes:** [node.notes – nur ausgeben wenn vorhanden und nicht leer]\n\n## Connected Systems\n\n[Bullet-Liste aller externen Systeme direkt aus node.type abgeleitet:]\n- `n8n-nodes-base.github` zu **GitHub**\n- `n8n-nodes-langchain.lmChatAnthropic` zu **Anthropic Claude**\n- `n8n-nodes-langchain.lmChatMistralCloud` zu **Mistral AI**\n- `n8n-nodes-base.microsoftOneDrive` zu **Microsoft OneDrive**\n- alle anderen Services analog ableiten\n\n## Metadata\n\n*Auto-generated by n8n workflow documentation system. Last updated: [updatedAt als DD.MM.YYYY]*\n\n---\n\nRegeln:\n- Verwende ausschließlich diese Markdown-Elemente: Überschriften (#, ##, ###), Fettschrift (**text**), Aufzählungen (-), Code (`backticks`), Fließtext\n- Keine Tabellen\n- Kein Mermaid\n- Keine HTML-Tags\n- Ausschließlich auf Englisch schreiben\n- Ton: technisch, präzise, professionell\n- Gib ausschließlich den Markdown-Text aus – keine Einleitung, keine Erklärung, keine Backticks um den gesamten Output\n- Fehlende optionale Felder (description, notes) komplett weglassen – nicht als \"N/A\" oder \"—\" ausgeben\n- Das connections-Objekt ist die einzige verlässliche Quelle für die Ausführungsreihenfolge\n- Notes pro Node nur ausgeben wenn node.notes vorhanden und nicht leer ist\n- Alle Datumsfelder als DD.MM.YYYY ausgeben – nicht als ISO-String\n- Alle Felder mit echten Daten füllen – keine Platzhalter im Output",
          "needsFallback": true,
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          272,
          -200
        ],
        "id": "48e82434-59e5-489b-8e6e-373c41c29c54",
        "name": "Write README"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "=data",
          "options": {
            "format": true
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          336,
          -496
        ],
        "id": "9016f1d2-2eda-40e4-bb32-24b56c5c855d",
        "name": "Convert to JSON"
      },
      {
        "parameters": {
          "jsCode": "const workflow = $input.first().json;\n\n// Credentials aus allen Nodes entfernen\nconst cleanedNodes = workflow.nodes.map(node => {\n  const { credentials, ...cleanNode } = node;\n  return cleanNode;\n});\n\nreturn [{\n  json: {\n    ...workflow,\n    nodes: cleanedNodes\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          48,
          -200
        ],
        "id": "79a0bac3-43d9-40ec-b849-323e0d717029",
        "name": "Remove credentials"
      },
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          280,
          24
        ],
        "id": "ceb6124d-20fc-4403-b7b7-87d15811d861",
        "name": "mistral-medium-latest",
        "credentials": {
          "mistralCloudApi": {
            "id": "w613RN8tRYhy269h",
            "name": "Mistral API"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.5,
        "position": [
          408,
          24
        ],
        "id": "50914fe3-3ab8-40bb-945d-381861942cbd",
        "name": "Claude Sonnet 4.6",
        "credentials": {
          "anthropicApi": {
            "id": "0jqTAeHMP0aAlV8t",
            "name": "Claude n8n-api"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "SPKonig",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "private-ops-n8n",
            "mode": "list",
            "cachedResultName": "private-ops-n8n",
            "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
          },
          "filePath": "=workflows/{{ $('Get many workflows').item.json.name }}/{{ $('Get many workflows').item.json.name }}.json",
          "binaryData": true,
          "commitMessage": "=Create JSON backup of {{ $('Get many workflows').item.json.name }} (n8n)"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          624,
          -496
        ],
        "id": "518413cc-f326-4ce4-85e3-854293a57edb",
        "name": "Create JSON backup",
        "webhookId": "beb31d4a-c5e4-4c75-8997-fa0b6a632bd6",
        "credentials": {
          "githubOAuth2Api": {
            "id": "F8Ct9QVVOm3TLMQF",
            "name": "GitHub OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "SPKonig",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "private-ops-n8n",
            "mode": "list",
            "cachedResultName": "private-ops-n8n",
            "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
          },
          "filePath": "=workflows/{{ $('Get many workflows').item.json.name }}/README.md",
          "fileContent": "={{ $json.text }}",
          "commitMessage": "=Create README.md for {{ $('Get many workflows').item.json.name }} (n8n)"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          624,
          -200
        ],
        "id": "bbf948d9-6bbd-4105-bc7b-a382d3c57fb3",
        "name": "Create README.md",
        "webhookId": "beb31d4a-c5e4-4c75-8997-fa0b6a632bd6",
        "credentials": {
          "githubOAuth2Api": {
            "id": "F8Ct9QVVOm3TLMQF",
            "name": "GitHub OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b36a77d0-c88c-4b94-9ace-fd82e6e99173",
                "leftValue": "={{ $json.createdAt }}",
                "rightValue": "={{ $today.toISO()}}",
                "operator": {
                  "type": "dateTime",
                  "operation": "after"
                }
              },
              {
                "id": "a0115a0f-e5b0-4f62-8fa2-cc1fd3d9618c",
                "leftValue": "={{ $json.active }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -400,
          -104
        ],
        "id": "d0b8735e-5e76-4862-8ed9-4e539da34d76",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -176,
          -8
        ],
        "id": "6e5c3848-2d83-4476-98ed-5add416e0bb2",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -176,
          -200
        ],
        "id": "28b6c139-7fee-4ac8-a494-24870422cb48",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          848,
          -296
        ],
        "id": "b1756adb-e431-4e40-b229-3fa371dd9bad",
        "name": "Merge"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write README": {
        "main": [
          [
            {
              "node": "Create README.md",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to JSON": {
        "main": [
          [
            {
              "node": "Create JSON backup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove credentials": {
        "main": [
          [
            {
              "node": "Write README",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mistral-medium-latest": {
        "ai_languageModel": [
          [
            {
              "node": "Write README",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Claude Sonnet 4.6": {
        "ai_languageModel": [
          [
            {
              "node": "Write README",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Convert to JSON",
              "type": "main",
              "index": 0
            },
            {
              "node": "Remove credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create JSON backup": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README.md": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "timeSavedMode": "fixed",
      "errorWorkflow": "hmJldT9kg1FuUJhz",
      "callerPolicy": "workflowsFromSameOwner",
      "executionTimeout": 2,
      "availableInMCP": false,
      "timeSavedPerExecution": 5
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "44ba1718-cea4-402e-b0c3-6cedd0efde9a",
    "activeVersionId": "a7bb1950-294f-4f9a-93c5-342f155bf51d",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-06-02T19:28:04.734Z",
        "createdAt": "2026-06-02T19:28:04.734Z",
        "role": "workflow:owner",
        "workflowId": "GDVqgNwMfS4wQDsC",
        "projectId": "vIaIDcGye5gviyqQ"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-06-02T21:33:17.000Z",
      "createdAt": "2026-06-02T21:32:04.566Z",
      "versionId": "a7bb1950-294f-4f9a-93c5-342f155bf51d",
      "workflowId": "GDVqgNwMfS4wQDsC",
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {}
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -848,
            -104
          ],
          "id": "3b45eef5-c012-4187-bc8c-2b011ee48586",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "filters": {},
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.n8n",
          "typeVersion": 1,
          "position": [
            -624,
            -104
          ],
          "id": "1b78ff7d-d53f-4546-b2cc-9aa6bc00fa5c",
          "name": "Get many workflows",
          "credentials": {
            "n8nApi": {
              "id": "CWPNJuJvvhzaDwLl",
              "name": "n8n account"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Du bist ein technischer Dokumentations-Experte. Erstelle eine README.md für einen n8n Workflow.\n\nHier sind die vollständigen Workflow-Daten als JSON:\n\n<workflow_data>\n{{JSON.stringify($json)}}\n</workflow_data>\n\nAnalysiere das gesamte JSON-Objekt vollständig bevor du schreibst – insbesondere:\n- `nodes` Array mit allen Nodes, deren `type`, `name` und `notes`\n- `connections` Objekt um die tatsächliche Ausführungsreihenfolge zu verstehen\n- `shared` Array für Projektinformationen\n- Alle Metadaten-Felder (`id`, `name`, `createdAt`, `updatedAt`, `active`)\n\nErstelle die README.md mit exakt dieser Struktur:\n\n# [workflow name]\n\n[Kurze Beschreibung in einem Satz. Falls description leer oder null ist, leite sie aus der Gesamtlogik der Nodes ab.]\n\n## Overview\n\n- **Workflow ID:** `[id]`\n- **Status:** [Active / Inactive (Draft)]\n- **Created:** [createdAt als DD.MM.YYYY]\n- **Last Modified:** [updatedAt als DD.MM.YYYY]\n- **Project:** [shared[0].project.name]\n- **URL:** [https://private-ops.app.n8n.cloud/workflow/[id]]\n\n## Trigger\n\n[1-2 Sätze was den Workflow startet – aus dem connections-Objekt und dem ersten Node ableiten.]\n\n## Workflow Steps\n\n[Nodes in korrekter Ausführungsreihenfolge aus dem connections-Objekt – nicht aus der Reihenfolge im nodes-Array.]\n\n**1. [node.name]**\n- **Type:** `[node.type]`\n- **Function:** [Ein Satz was dieser Node tut]\n- **Notes:** [node.notes – nur ausgeben wenn vorhanden und nicht leer]\n\n## Connected Systems\n\n[Bullet-Liste aller externen Systeme direkt aus node.type abgeleitet:]\n- `n8n-nodes-base.github` zu **GitHub**\n- `n8n-nodes-langchain.lmChatAnthropic` zu **Anthropic Claude**\n- `n8n-nodes-langchain.lmChatMistralCloud` zu **Mistral AI**\n- `n8n-nodes-base.microsoftOneDrive` zu **Microsoft OneDrive**\n- alle anderen Services analog ableiten\n\n## Metadata\n\n*Auto-generated by n8n workflow documentation system. Last updated: [updatedAt als DD.MM.YYYY]*\n\n---\n\nRegeln:\n- Verwende ausschließlich diese Markdown-Elemente: Überschriften (#, ##, ###), Fettschrift (**text**), Aufzählungen (-), Code (`backticks`), Fließtext\n- Keine Tabellen\n- Kein Mermaid\n- Keine HTML-Tags\n- Ausschließlich auf Englisch schreiben\n- Ton: technisch, präzise, professionell\n- Gib ausschließlich den Markdown-Text aus – keine Einleitung, keine Erklärung, keine Backticks um den gesamten Output\n- Fehlende optionale Felder (description, notes) komplett weglassen – nicht als \"N/A\" oder \"—\" ausgeben\n- Das connections-Objekt ist die einzige verlässliche Quelle für die Ausführungsreihenfolge\n- Notes pro Node nur ausgeben wenn node.notes vorhanden und nicht leer ist\n- Alle Datumsfelder als DD.MM.YYYY ausgeben – nicht als ISO-String\n- Alle Felder mit echten Daten füllen – keine Platzhalter im Output",
            "needsFallback": true,
            "batching": {}
          },
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            272,
            -200
          ],
          "id": "48e82434-59e5-489b-8e6e-373c41c29c54",
          "name": "Write README"
        },
        {
          "parameters": {
            "operation": "toJson",
            "binaryPropertyName": "=data",
            "options": {
              "format": true
            }
          },
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            336,
            -496
          ],
          "id": "9016f1d2-2eda-40e4-bb32-24b56c5c855d",
          "name": "Convert to JSON"
        },
        {
          "parameters": {
            "jsCode": "const workflow = $input.first().json;\n\n// Credentials aus allen Nodes entfernen\nconst cleanedNodes = workflow.nodes.map(node => {\n  const { credentials, ...cleanNode } = node;\n  return cleanNode;\n});\n\nreturn [{\n  json: {\n    ...workflow,\n    nodes: cleanedNodes\n  }\n}];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            48,
            -200
          ],
          "id": "79a0bac3-43d9-40ec-b849-323e0d717029",
          "name": "Remove credentials"
        },
        {
          "parameters": {
            "model": "mistral-medium-latest",
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
          "typeVersion": 1,
          "position": [
            280,
            24
          ],
          "id": "ceb6124d-20fc-4403-b7b7-87d15811d861",
          "name": "mistral-medium-latest",
          "credentials": {
            "mistralCloudApi": {
              "id": "w613RN8tRYhy269h",
              "name": "Mistral API"
            }
          }
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "value": "claude-sonnet-4-6",
              "mode": "list",
              "cachedResultName": "Claude Sonnet 4.6"
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
          "typeVersion": 1.5,
          "position": [
            408,
            24
          ],
          "id": "50914fe3-3ab8-40bb-945d-381861942cbd",
          "name": "Claude Sonnet 4.6",
          "credentials": {
            "anthropicApi": {
              "id": "0jqTAeHMP0aAlV8t",
              "name": "Claude n8n-api"
            }
          }
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "owner": {
              "__rl": true,
              "value": "SPKonig",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "private-ops-n8n",
              "mode": "list",
              "cachedResultName": "private-ops-n8n",
              "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
            },
            "filePath": "=workflows/{{ $('Get many workflows').item.json.name }}/{{ $('Get many workflows').item.json.name }}.json",
            "binaryData": true,
            "commitMessage": "=Create JSON backup of {{ $('Get many workflows').item.json.name }} (n8n)"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            624,
            -496
          ],
          "id": "518413cc-f326-4ce4-85e3-854293a57edb",
          "name": "Create JSON backup",
          "webhookId": "beb31d4a-c5e4-4c75-8997-fa0b6a632bd6",
          "credentials": {
            "githubOAuth2Api": {
              "id": "F8Ct9QVVOm3TLMQF",
              "name": "GitHub OAuth2 API"
            }
          }
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "owner": {
              "__rl": true,
              "value": "SPKonig",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "private-ops-n8n",
              "mode": "list",
              "cachedResultName": "private-ops-n8n",
              "cachedResultUrl": "https://github.com/SPKonig/private-ops-n8n"
            },
            "filePath": "=workflows/{{ $('Get many workflows').item.json.name }}/README.md",
            "fileContent": "={{ $json.text }}",
            "commitMessage": "=Create README.md for {{ $('Get many workflows').item.json.name }} (n8n)"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            624,
            -200
          ],
          "id": "bbf948d9-6bbd-4105-bc7b-a382d3c57fb3",
          "name": "Create README.md",
          "webhookId": "beb31d4a-c5e4-4c75-8997-fa0b6a632bd6",
          "credentials": {
            "githubOAuth2Api": {
              "id": "F8Ct9QVVOm3TLMQF",
              "name": "GitHub OAuth2 API"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "b36a77d0-c88c-4b94-9ace-fd82e6e99173",
                  "leftValue": "={{ $json.createdAt }}",
                  "rightValue": "={{ $today.toISO()}}",
                  "operator": {
                    "type": "dateTime",
                    "operation": "after"
                  }
                },
                {
                  "id": "a0115a0f-e5b0-4f62-8fa2-cc1fd3d9618c",
                  "leftValue": "={{ $json.active }}",
                  "rightValue": false,
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -400,
            -104
          ],
          "id": "d0b8735e-5e76-4862-8ed9-4e539da34d76",
          "name": "If"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            -176,
            -8
          ],
          "id": "6e5c3848-2d83-4476-98ed-5add416e0bb2",
          "name": "No Operation, do nothing"
        },
        {
          "parameters": {
            "options": {}
          },
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [
            -176,
            -200
          ],
          "id": "28b6c139-7fee-4ac8-a494-24870422cb48",
          "name": "Loop Over Items"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3.2,
          "position": [
            848,
            -296
          ],
          "id": "b1756adb-e431-4e40-b229-3fa371dd9bad",
          "name": "Merge"
        }
      ],
      "connections": {
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Get many workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get many workflows": {
          "main": [
            [
              {
                "node": "If",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Write README": {
          "main": [
            [
              {
                "node": "Create README.md",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convert to JSON": {
          "main": [
            [
              {
                "node": "Create JSON backup",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Remove credentials": {
          "main": [
            [
              {
                "node": "Write README",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "mistral-medium-latest": {
          "ai_languageModel": [
            [
              {
                "node": "Write README",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Claude Sonnet 4.6": {
          "ai_languageModel": [
            [
              {
                "node": "Write README",
                "type": "ai_languageModel",
                "index": 1
              }
            ]
          ]
        },
        "If": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Operation, do nothing",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Over Items": {
          "main": [
            [],
            [
              {
                "node": "Convert to JSON",
                "type": "main",
                "index": 0
              },
              {
                "node": "Remove credentials",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create JSON backup": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create README.md": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Sören Panten",
      "name": "v1.0",
      "description": "Initial publish",
      "autosaved": true
    },
    "tags": []
  }
]